@{
    var book = ViewBag.Book as Book;
}

<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Order Books
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form action="">
                        <div>
                            <input type="text" class="form-control" placeholder="Your Name" />
                        </div>
                        <div>
                            <input type="text" class="form-control" placeholder="Phone Number" />
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Your Email" />
                        </div>
                        <div>
                            <input type="date" class="form-control">
                        </div>
                        <div class="btn_box">
                            <button>
                                Order Now
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex">
                    <div class="img-box">
                        <img src="@book.ImgPath" alt="" />
                        <p class="text-right">- @book.Author.Name -</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

