@model DoAn.Models.Book

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
    <div class="card">
        <h3 class="card-header">Sửa thông tin Sách</h3>
        <div class="card-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="BookId" />

                <div class="form-group row">
                    <label asp-for="Name" class="col-3 col-lg-2 col-form-label text-left">Fullname</label>
                    <div class="col-7 col-lg-7">
                        <input asp-for="Name" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Price" class="col-3 col-lg-2 col-form-label text-left">Price</label>
                    <div class="col-9 col-lg-7">
                        <input asp-for="Price" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ImgPath" class="col-3 col-lg-2 col-form-label text-left">ImgPath</label>
                    <div class="col-9 col-lg-7">
                        <input asp-for="ImgPath" type="text" value=@Model.ImgPath required="" class="form-control readonly" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Description" class="col-3 col-lg-2 col-form-label text-left">Description</label>
                    <div class="col-9 col-lg-7">
                        <input asp-for="Description" type="text" value=@Model.Description class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="AuthorId" class="col-3 col-lg-2 col-form-label text-left">Author Id</label>
                    <div class="col-9 col-lg-7">
                        <input asp-for="AuthorId" type="text" value=@Model.AuthorId class="form-control readonly" readonly tabindex="-1">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="CategoryId" class="col-3 col-lg-2 col-form-label text-left">Category Id</label>
                    <div class="col-9 col-lg-7">
                        <input asp-for="CategoryId" type="text" value=@Model.CategoryId class="form-control readonly" readonly tabindex="-1">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Rate" class="col-3 col-lg-2 col-form-label text-left">Rate</label>
                    <div class="col-9 col-lg-7">
                        <input asp-for="Rate" type="text" value=@Model.Rate class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Quantity" class="col-3 col-lg-2 col-form-label text-left">Quantity</label>
                    <div class="col-9 col-lg-7">
                        <input asp-for="Quantity" type="text" value=@Model.Quantity class="form-control">
                    </div>
                </div>
                <div class="row pt-2 pt-sm-5 mt-1">
                    <div class="col-sm-6 pb-2 pb-sm-4 pb-lg-0 pr-0">
                    </div>
                    <div class="col-sm-6 pl-0">
                        <p class="text-right">
                            <button type="submit" class="btn btn-space btn-succees">Confirm</button>
                            <a class="btn btn-space btn-secondary" asp-action="Index">Back to List</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

