@model IEnumerable<DoAn.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="mb-0">Thể loại Sách</h3>
            <a asp-action="Create" class="btn btn-primary btn-sm">Create</a>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Category ID</th>
                        <th scope="col" class="text-center">Name</th>
                        <th scope="col" class="text-center">Description</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <th scope="col" class="text-center">@category.CategoryId</th>
                            <th scope="col" class="text-center">@category.Name</th>
                            <th scope="col" class="text-center">@category.Description</th>
                            <th scope="col" class="text-center">
                                <a asp-controller="Categories" asp-action="Details" asp-route-id=@category.CategoryId class="btn btn-success">View</a>
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
